@media only screen and (max-width: 1600px) {
    .page-wrapper.dashboard {
        padding-left: 230px;
    }
}
.main-header.fixed-header {
    position: fixed;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}